                /* Variables */

                 :root {
                    --basic-black: #000000;
                    --opacity3-black: rgba(0, 0, 0, 0.3);
                    --opacity6-black: rgba(0, 0, 0, 0.6);
                    --basic-extra-black: #444444;
                    --basic-light-black: #283136;
                    --basic-social-grey: #E1E1E1;
                    --basic-gray: #888888;
                    --basic-gray6: #666;
                    --basic-light-gray: #A6A6A6;
                    --basic-extra-gray: #EEEEEE;
                    --basic-input-gray: #D7DCDE;
                    --basic-input-hover: #B4B9BB;
                    --basic-form-hover: #dfdfdf;
                    --basic-form-active: #D5D5D5;
                    --basic-form-focus: #dbdbdb;
                    --basic-white: #ffffff;
                    --basic-white01: rgba(0, 0, 0, 0.0001);
                    --basic-green: #00CA74;
                    --basic-green-hover: #00BC6C;
                    --basic-green-active: #00AA62;
                    --basic-yellow: #EFC849;
                    --basic-yellow-hover: #EAB534;
                    --basic-yellow-active: #E5A722;
                    --basic-red: #FB565A;
                    --basic-red-hover: #E74246;
                    --basic-red-active: #D7373B;
                }
                /* Global */

                * {
                    margin: 0;
                    padding: 0;
                }

                body {
                    margin: 0;
                    padding: 0;
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    font-style: normal;
                    color: var(--basic-light-black);
                    background-color: var(--basic-white);
                }

                .wrapper {
                    max-width: 1440px;
                    margin: 0 auto;
                    padding-left: 16px;
                    padding-right: 16px;
                }

                a {
                    text-decoration: none;
                }

                img {
                    max-width: 100%;
                    height: auto;
                }

                li {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                .hidden {
                    display: none;
                }

                .clearfix::after {
                    content: "";
                    display: table;
                    clear: both;
                }
                /* Header */

                .main-logo {
                    float: left;
                    padding-left: 140px;
                    padding-top: 49px;
                    width: 300px;
                }

                .main-header,
                .slider {
                    background-color: var(--basic-extra-gray);
                }
                /* Main navigation */

                .main-header-logo:hover {
                    opacity: 0.7;
                }

                .main-header-logo:active {
                    opacity: 0.3;
                }

                .main-navigaion {
                    font-style: normal;
                    line-height: 30px;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: var(--basic-black);
                    padding-right: 140px;
                    padding-top: 75px;
                }

                .site-navigation {
                    float: left;
                    margin-left: 202px;
                }

                .site-navigation li {
                    display: inline;
                    margin-right: 45px;
                }

                .cart-link {
                    float: right;
                }

                .site-navigation-active {
                    border-bottom: 2px solid var(--basic-red);
                    padding: 0 0 12px 0;
                    display: inline;
                }

                .site-navigation a,
                .cart-link {
                    color: var(--basic-black);
                }

                .site-navigation a:hover,
                .cart-link:hover {
                    color: var(--basic-red);
                }

                .site-navigation a:active,
                .cart-link:active {
                    color: #000000;
                    opacity: 0.3;
                }
                /* Slider */

                .slider-text {
                    float: left;
                    width: 537px;
                    padding-left: 140px;
                    padding-top: 78px;
                }

                .slider-text p {
                    padding-top: 25px;
                    padding-bottom: 55px;
                }

                .slider-text a {
                    padding-top: 55px;
                }

                .slider-image {
                    padding-left: 537px;
                }

                .slider h3,
                .main-title h1 {
                    font-size: 55px;
                    line-height: 55px;
                    font-weight: 500;
                    color: var(--basic-black);
                }
                /* Button */

                .button {
                    font: inherit;
                    text-align: center;
                    font-style: normal;
                    line-height: 18px;
                    font-weight: 500;
                    text-transform: uppercase;
                    vertical-align: middle;
                    text-transform: uppercase;
                    border: none;
                    border-radius: 3px;
                }

                .red-button {
                    color: var(--basic-white);
                    background-color: var(--basic-red);
                }

                .red-button:hover {
                    color: var(--basic-white);
                    background-color: var(--basic-red-hover);
                }

                .red-button:active {
                    color: #ffffff;
                    opacity: 0.3;
                    background-color: var(--basic-red-active);
                    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
                }

                .green-button {
                    color: var(--basic-white);
                    background-color: var(--basic-green);
                }

                .green-button:hover {
                    color: var(--basic-white);
                    background-color: var(--basic-green-hover);
                }

                .green-button:active {
                    color: #ffffff;
                    opacity: 0.3;
                    background-color: var(--basic-green-active);
                    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
                }

                .yellow-button {
                    color: var(--basic-white);
                    background-color: var(--basic-yellow);
                }

                .yellow-button:hover {
                    color: var(--basic-white);
                    background-color: var(--basic-yellow-hover);
                }

                .yellow-button:active {
                    color: #ffffff;
                    opacity: 0.3;
                    background-color: var(--basic-yellow-active);
                    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
                }

                .slider .button {
                    padding: 17px 54px 15px 54px;
                }

                .services-item .button {
                    padding: 17px 40px 15px 39px;
                }

                .map-contact .button {
                    padding: 17px 44px 15px 44px;
                }
                /* Services */

                .services {
                    padding-left: 140px;
                    padding-top: 80px;
                }

                .services-item {
                    float: left;
                    width: 300px;
                    padding-right: 100px;
                }

                .services-list h3 {
                    font-size: 24px;
                    line-height: 30px;
                    font-weight: 700;
                    padding-top: 25px;
                    text-transform: uppercase;
                    color: var(--basic-black);
                }

                .services-list p {
                    padding-top: 16px;
                    padding-bottom: 49px;
                    color: var(--basic-light-black);
                }

                .services-line {
                    margin: 80px 0 39px;
                    padding: 0;
                    height: 0;
                    width: 1158px;
                    border: none;
                    border-top: 2px solid var(--basic-extra-gray);
                }
                /* About */

                .about {
                    padding-left: 140px;
                }

                .about-left {
                    float: left;
                    width: 651px;
                }

                .about-right {
                    float: left;
                    margin-left: 149px;
                }

                .about-left h3 {
                    font-size: 45px;
                    line-height: 45px;
                    font-weight: 500;
                    color: var(--basic-black);
                    margin-top: 34px;
                    margin-bottom: 32px;
                }

                .about-left h4 {
                    color: var(--basic-light-black);
                    font-weight: 700;
                    text-transform: uppercase;
                    padding-bottom: 23px;
                }

                .about-left p {
                    color: var(--basic-light-black);
                    margin-bottom: 40px;
                }

                ul.about-left-list li {
                    background: url("../img/icon/rectangle.svg") no-repeat left center;
                    padding-left: 32px;
                }

                .about-left-list li {
                    margin-bottom: 24px;
                }

                .about-left-list {
                    padding-left: 0;
                }

                .about-right-list {
                    float: left;
                    margin-right: 22px;
                }

                .about-right h4 {
                    font-weight: 700;
                    text-transform: uppercase;
                    text-align: center;
                    color: var(--basic-black);
                    margin-top: 37px;
                    margin-bottom: 31px;
                }

                .about-right-item-title {
                    font-size: 45px;
                    line-height: 64px;
                    font-weight: 700;
                    color: var(--basic-black);
                    padding-bottom: 10px;
                }

                .title-sup {
                    font-size: 26px;
                    line-height: 40px;
                    font-weight: 700;
                    color: var(--basic-black);
                }

                .about-right-item-text {
                    line-height: 18px;
                }
                /* Clients */

                .clients {
                    margin-left: 140px;
                }

                .clients-item {
                    opacity: 0.2;
                    float: left;
                }

                .clients-item:hover {
                    opacity: 1;
                }

                .clients-item:active {
                    opacity: 0.1;
                }
                /* Map */

                .map-contact {
                    width: 319px;
                    height: 308px;
                    border: 1px solid var(--basic-black);
                    background-color: var(--basic-white);
                }

                .map-contact h3 {
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 700;
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-left: 50px;
                    padding-top: 48px;
                    color: var(--basic-black);
                    text-transform: uppercase;
                }

                .map-contact p {
                    margin-top: 23px;
                }

                .map-contact p,
                .contact-phone {
                    line-height: 18px;
                    color: var(--basic-extra-black);
                    margin-left: 50px;
                    margin-bottom: 0px;
                }

                .map-contact button {
                    margin-left: 50px;
                }

                .map-img {
                    margin: 0;
                }

                .map-marker {
                    margin: 0;
                    width: 211px;
                    height: 186px;
                    position: relative;
                    top: 10px;
                    left: 50px;
                }
                /* Footer */

                .footer-item-social a {
                    width: 81px;
                    height: 81px;
                    background-color: var(--basic-social-grey);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .footer-item-social a:hover {
                    width: 81px;
                    height: 81px;
                    background-color: var(--basic-red-hover);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .footer-item-social a:active {
                    width: 81px;
                    height: 81px;
                    background-color: var(--basic-red-active);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 0px 3px 0px 0px #0001011A inset;
                    background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
                }

                .footer-text h3 {
                    font-size: 36px;
                    line-height: 36px;
                    font-weight: 700;
                    color: var(--basic-black);
                }

                .footer-text p {
                    line-height: 22px;
                    color: var(--basic-extra-black);
                }
                /* PopUp */

                .popup {
                    width: 960px;
                    height: 590px;
                    box-shadow: 0px 20px 40px 0px #00000066;
                    background-color: var(--basic-white);
                }

                .popup-form h3 {
                    font-family: Roboto;
                    font-size: 45px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 53px;
                    color: var(--basic-black);
                }

                .form-label {
                    font-weight: 700;
                    line-height: 18px;
                    color: var(--basic-black);
                }

                .form-input {
                    border: 2px solid var(--basic-input-gray);
                    border-radius: 3px;
                    line-height: 18px;
                    color: var(--basic-extra-black);
                    opacity: 0.5;
                }

                .form-input:hover {
                    border: 2px solid var(--basic-input-hover);
                    color: var(--basic-extra-black);
                    opacity: 0.5;
                }

                .form-input:focus {
                    border: 2px solid var(--basic-black);
                    color: var(--basic-extra-black);
                    opacity: 1;
                }

                .form-input:invalid {
                    border: 2px solid var(--basic-red-hover);
                    color: var(--basic-red-hover);
                    opacity: 1;
                }

                .popup-form input {
                    padding: 16px 14px 16px 16px;
                }

                .popup-form textarea {
                    width: 760px;
                    height: 118px;
                    padding-top: 16px;
                    padding-left: 16px;
                }

                .popup-form img {
                    opacity: 0.3;
                }

                .popup-form img:hover {
                    opacity: 1;
                }

                .popup-form img:active {
                    opacity: 0.1;
                }

                .popup-form .button {
                    padding: 17px 83px 15px 83px;
                }
                /* catalog.html */
                /* Title */

                .main-title h1 {
                    text-align: center;
                    background-color: var(--basic-extra-gray);
                    margin-bottom: 0px;
                    margin-top: 0px;
                    padding-top: 72px;
                    padding-bottom: 108px;
                }
                /* Left Sidebar */

                .left-sidebar {
                    float: left;
                    width: 541px;
                }

                .nav-title {
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px;
                    color: var(--basic-black);
                    text-transform: uppercase;
                }

                .form-range {
                    width: 260px;
                    height: 80px;
                    background: var(--basic-extra-gray);
                    border: 0;
                    border-radius: 3px;
                }

                fieldset {
                    border: 0;
                }

                .form-text label,
                .form-text input {
                    font-weight: 400;
                    line-height: 22px;
                    color: var(--basic-light-black);
                    text-transform: uppercase;
                    text-align: center;
                }

                .form-text input {
                    width: 80px;
                    height: 38px;
                    background: var(--basic-extra-gray);
                    border: 0;
                    border-radius: 3px;
                    text-align: center;
                }

                .form-text input:hover {
                    background: var(--basic-form-hover);
                }

                .form-text input:active {
                    background: var(--basic-red);
                    box-shadow: 0px 3px 0px 0px #0001011A inset;
                    color: rgba(0, 0, 0, 0.3);
                }

                .form-text input:focus {
                    width: 74px;
                    height: 32px;
                    background: rgba(0, 0, 0, 0.001);
                    color: var(--basic-black);
                    outline: none;
                    border: 3px solid #DBDBDB;
                    border-radius: 3px;
                }

                .form-radio p,
                .form-checkbox p {
                    line-height: 20px;
                    color: var(--basic-light-black);
                }

                .grey-button {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 18px;
                    text-align: center;
                    text-transform: uppercase;
                    color: var(--basic-black);
                    background: var(--basic-extra-gray);
                    border: 0;
                    border-radius: 3px;
                    padding: 16px 88px 16px 88px;
                }

                .grey-button:hover {
                    background-color: var(--basic-form-hover);
                }

                .grey-button:active {
                    background-color: var(--basic-form-active);
                    box-shadow: 0px 3px 0px 0px #0001011A inset;
                    color: var(--opacity3-black);
                }
                /* Main Catalog */

                .main-catalog {
                    margin-left: 541px;
                }

                .catalog-nav-list a {
                    font-size: 14px;
                    line-height: 18px;
                    text-transform: uppercase;
                    color: var(--basic-black);
                    opacity: 0.3;
                }

                .catalog-nav-list a:hover {
                    opacity: 0.6;
                }

                .catalog-nav-list a:active {
                    opacity: 1;
                }

                .site-img:hover {
                    width: 358px;
                    height: 578px;
                    box-shadow: 0px 6px 15px 0px #00000040;
                }

                .site-text {
                    padding-top: 26px;
                    width: 360px;
                    height: 231px;
                    background-color: var(--basic-extra-gray);
                    text-align: center;
                }

                .site-text-heading {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 30px;
                    color: var(--basic-black);
                    text-transform: uppercase;
                }

                .site-text-heading:hover {
                    color: var(--basic-red);
                }

                .site-text-heading:active {
                    text-shadow: 0px 4px 4px 0px #00000040;
                    color: var(--basic-black);
                    opacity: 0.3;
                }

                .site-text p {
                    padding-top: 12px;
                    line-height: 18px;
                    color: var(--basic-gray6);
                }

                .site-button {
                    line-height: 18px;
                    color: var(--basic-white);
                    background-color: var(--basic-red);
                    padding: 17px 72px 15px 72px;
                    border-radius: 3px;
                }

                .site-button:hover {
                    background-color: var(--basic-red-hover);
                }

                .site-button:active {
                    background-color: var(--basic-red-active);
                }

                .site-text .button {
                    padding: 17px 72px 15px 72px;
                }

                .page-item {
                    display: block;
                    width: 50px;
                    height: 50px;
                    background-color: var(--basic-extra-gray);
                    border-radius: 3px;
                    color: var(--basic-black);
                    font-weight: 500;
                    font-size: 16px;
                    text-align: center;
                    line-height: 50px;
                    text-transform: uppercase;
                    margin-top: 20px;
                }

                .page-next {
                    width: 260px;
                }

                .page-item:hover:not(.page-active) {
                    background-color: var(--basic-form-hover);
                }

                .page-item:active:not(.page-active) {
                    background-color: var(--basic-form-active);
                    box-shadow: 0px 3px 0px 0px #0001011A inset;
                    color: var(--opacity3-black);
                }

                .page-active {
                    background-color: var(--basic-white01);
                    border: 3px solid var(--basic-form-focus);
                    width: 44px;
                    height: 44px;
                    line-height: 47px;
                }
